In [2]:

import pandas as pd
import numpy as np
df = pd.read_csv('smoking_health_data_final.csv')
# Display the first few rows
print(df.head())

# Get summary statistics
print(df.describe())

# Display info about the DataFrame (e.g., data types, non-null counts)
print(df.info())
# Check for missing values
print(df.isnull().sum())

   age   sex current_smoker  heart_rate blood_pressure  cigs_per_day   chol
0   54  male            yes          95         110/72           NaN  219.0
1   45  male            yes          64         121/72           NaN  248.0
2   58  male            yes          81       127.5/76           NaN  235.0
3   42  male            yes          90       122.5/80           NaN  225.0
4   42  male            yes          62         119/80           NaN  226.0
               age   heart_rate  cigs_per_day         chol
count  3900.000000  3900.000000   3886.000000  3893.000000
mean     49.537949    75.688974      9.168554   236.595941
std       8.559275    12.015376     12.037999    44.375365
min      32.000000    44.000000      0.000000   113.000000
25%      42.000000    68.000000      0.000000   206.000000
50%      49.000000    75.000000      0.000000   234.000000
75%      56.000000    82.000000     20.000000   263.000000
max      70.000000   143.000000     70.000000   696.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             3900 non-null   int64
 1   sex             3900 non-null   object
 2   current_smoker  3900 non-null   object
 3   heart_rate      3900 non-null   int64
 4   blood_pressure  3900 non-null   object
 5   cigs_per_day    3886 non-null   float64
 6   chol            3893 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 213.4+ KB
None
age                0
sex                0
current_smoker     0
heart_rate         0
blood_pressure     0
cigs_per_day      14
chol               7
dtype: int64

In [3]:
# Check for missing values
print(df.isnull().sum())

age                0
sex                0
current_smoker     0
heart_rate         0
blood_pressure     0
cigs_per_day      14
chol               7
dtype: int64

In [4]:
df.fillna

<bound method DataFrame.fillna of       age   sex current_smoker  heart_rate blood_pressure  cigs_per_day   chol
0      54  male            yes          95         110/72           NaN  219.0
1      45  male            yes          64         121/72           NaN  248.0
2      58  male            yes          81       127.5/76           NaN  235.0
3      42  male            yes          90       122.5/80           NaN  225.0
4      42  male            yes          62         119/80           NaN  226.0
...   ...   ...            ...         ...            ...           ...    ...
3895   37  male            yes          88     122.5/82.5          60.0  254.0
3896   49  male            yes          70         123/75          60.0  213.0
3897   56  male            yes          70         125/79          60.0  246.0
3898   50  male            yes          85         134/95          60.0  340.0
3899   40  male            yes          98         132/86          70.0  210.0

[3900 rows x 7 columns]>

In [5]:
# removing duplicates

df = df.drop_duplicates()

In [6]:
#verify cleaned data
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3900 entries, 0 to 3899
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             3900 non-null   int64
 1   sex             3900 non-null   object
 2   current_smoker  3900 non-null   object
 3   heart_rate      3900 non-null   int64
 4   blood_pressure  3900 non-null   object
 5   cigs_per_day    3886 non-null   float64
 6   chol            3893 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 243.8+ KB
None
               age   heart_rate  cigs_per_day         chol
count  3900.000000  3900.000000   3886.000000  3893.000000
mean     49.537949    75.688974      9.168554   236.595941
std       8.559275    12.015376     12.037999    44.375365
min      32.000000    44.000000      0.000000   113.000000
25%      42.000000    68.000000      0.000000   206.000000
50%      49.000000    75.000000      0.000000   234.000000
75%      56.000000    82.000000     20.000000   263.000000
max      70.000000   143.000000     70.000000   696.000000

In [7]:
#save cleaned data
df.to_csv('cleaned_smokers_health_data.csv', index=False)